* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    background: #f3f3f3;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.main {
    padding: 40px 0;
}

.main-mail {
    max-width: 500px;
    margin: 0 auto;
}

.container {
    margin: 0 40px;
}

.title {
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.uk-input, .uk-button, .border {
    border-radius: 50px;
}
